
/* Nav Bar CSS */
.navbar-inverse { 
  background-color: #0037b2;
}

.navbar-inverse .navbar-nav>.active>a:hover,.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus { 
  background-color: #0037b2;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  background-color: #0037b2;
}

.dropdown-menu {
  background-color: #FFFFFF;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-color: #428BCA;
}

.navbar-inverse {
  background-image: none; 
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background-image: none;
}

.navbar-inverse {
  border-color: #080808;
}

.navbar-inverse .navbar-brand {
  color: #999999;
}

.navbar-inverse .navbar-brand:hover {
  color: #ffc94a;
}

.navbar-inverse .navbar-nav>li>a {
  vertical-align: center;
  color: #ffffff;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #ffc94a;
}

.navbar-inverse .navbar-nav>.active>a,.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
  color: #ffc94a;
}

.navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
  color: #ffc94a;
}

.dropdown-menu>li>a {
  color: #333333;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #ffc94a;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-top-color: #999999;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-top-color: #FFFFFF;
}

.navbar-inverse .navbar-nav>.dropdown>a .caret {
  border-bottom-color: #999999;
}

.navbar-inverse .navbar-nav>.dropdown>a:hover .caret {
  border-bottom-color: #FFFFFF;
}

.navbar .nav > li > a, .navbar .nav > li > a:first-letter,
.navbar .nav > li.current-menu-item > a, 
.navbar .nav > li.current-menu-ancestor > a {
display: flex;
font-family: Herculanum, "Eras Medium ITC", sans-serif;
font-size: 1.5em;
align-items: center;
}

/*Top Line Layout*/

.topRow {
  display: flex;
  align-items: center;
}

.topColumn {
  flex: 33.3%;
  padding: 5px;
  align-items: center;
}

/*Carousel CSS*/
.carousel-inner > .item > img {
  object-fit: cover;
  margin: 0 auto;
}


/*Footer CSS*/
  footer {
    background-color: #0037b2;
    color: #ffffff;
    height: 30px;
    position: absolute;
    bottom: 0;
    width: 100%;
     
  }